.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper >input{
    margin:5px;
    height: auto;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

.wrapper >textarea {
    margin:5px;
    height: 200px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;

}

.buttons >button{
    padding:15px 40px;
    border:1px solid black;
    margin:15px;
    background-color: transparent;
    cursor: pointer;
}