*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    
}


nav {
    display:flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(253, 213, 219);

}

nav .nav-links {
    display:flex;
    justify-content: space-around;
    width: 30%;
    
    
    
}

nav .nav-link {
    text-decoration: none;
    color:black;
    
}

nav .nav-link:hover {
    border-bottom: solid 1px rgb(51, 51, 51);
    cursor:pointer;
}

nav .burger{
    font-size: 20px;
    display:none;
    cursor: pointer;

}

nav .search{
    font-size: 20px;
    display:none;
    cursor: pointer;

}
nav .shop-bag{
    font-size: 20px;
    display:none;
    cursor: pointer;

}

@media all and (max-width:768px){
    nav .burger {
        display:block;

    }
    nav .search {
        display:block;

    }
    nav .shop-bag {
        display:block;
    }

    nav .nav-links {
        position: absolute;
        display: block;
        
        top:10vh;
        left:0;
        height: 50vh;
        background-color: rgba(255, 184, 195, 0.671);
        width: 35%;
        padding:40px;
        transform: translateX(-500px);
        transition:0.5s ease-in-out;
    }
    nav .nav-links{
        padding: 40px;
        
    }
    nav .nav-links li {
        margin: 10px;
        padding: 20px;
        text-transform: uppercase;
        border-bottom: 1px solid whitesmoke;
        

    }

    nav .nav-link:last-of-type {
        border-bottom: 0px solid whitesmoke;

    }

    nav .nav-link:hover {
        border-bottom: solid 0px rgb(51, 51, 51);
    }

}

