*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {

    background-color: antiquewhite;
       
}

.form{
    display:flex;  
}

.inputFields {
    display: flex;
    flex-direction: column;
    margin-right: 4%; 
}


.inputFields{
    width: 48%;
}

.inputFields, .input,
.textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #a5a5a5;
    padding: 10px;
    
}

.textarea{
    height: 212px;
  }

.selectZodiac, .selectMoonphase, .selectMoon {
    display:none;
    padding: 10px;
    background: transparent;
    padding: 10px;
    width: 100%; 
}

.zodiac, .moonphase, .moon {
    display: block;
    padding: 30px;
    font-size: 1.5rem;
    

}

.zodiac:hover, .moonphase:hover, .moon:hover{
    cursor: pointer;
}

.goBackBtn{
    font-size: 1rem;
    padding: 5px 10px;
    color: #363636;
}
