.wrapper {
  margin-top:25px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px;

  
}

.moonImg {
  /* z-index: -10; */
  float: left;
  height: 520px;
  width: 357px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);

  /* height: auto;
  width: 35vw; */
}

.moonImg >img {
  height: 357px;
  width: 357px;
}

.moonText{
  height: 430px;
  width: 327px;
}

.moonText h1,
.selectWrapper h2 {
  text-align: center;
  font-size: 2rem;
  color: #363636;
  font-family: 'Bentham', serif;
 
    
}

.moonText p {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #686868;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter; 
}


.selectContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 520px;
  width: 357px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);

}



.selectBox {
  cursor:pointer;
  width: 75%;
  padding:10px;
  border:0.2px solid rgb(204, 204, 204);
  background: transparent;

}

