.container {
  margin: auto;
  max-width: 650px;
}

.image {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.wrapper {
  max-width: 300px;
  margin: auto;
}

.wrapper:hover {
  cursor: pointer;
}
