/* .container >div {
    display: flex;
    justify-items: center;
    align-items: center;
    margin:auto;

} */

.header{
    display: flex;
    justify-content: flex-end;
    margin-top:15px;
    text-align: center;
    font-weight: lighter;
    padding:10px;

}

.container >span {
    border-top: 1px solid black;
    width: 100%;

}

.addLink {
 text-decoration:none;
 color:black;
 padding: 5px;
 position:absolute;
 left:50%; 
 right:auto;
 border:1px solid black;
}

